<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="BookingHotelsTests" >
        <classes>
            <class name="tests.BookingHotelTests"/>
        </classes>
    </test>

    <test name="CarRentalsTest">
        <classes>
            <class name="tests.CarRentalsTest"/>
        </classes>
    </test>

    <test name="FlightsTests">
        <classes>
            <class name="tests.FlightsTest"/>
        </classes>
    </test>

    <test name="TaxisTests">
        <classes>
            <class name="tests.TaxisTest"/>
        </classes>
    </test>
</suite>
